.container {
  max-width: 320px;
}

.title {
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;

  margin-bottom: 10px;
}

.checkbox_container {
  padding: 14px 25px;
  background-color: var(--color-dark-500);

  border-radius: var(--border-radius);
  border: 1px solid var(--color-dark-300);

  display: flex;
  flex-direction: column;
  gap: 28px;
}

.account_container {
  margin-bottom: 42px;
}

.subscription_container {
  opacity: 0;
  pointer-events: none;

  transition: .3s ease;
}

.payment_wrapper {
  margin-top: 24px;

  display: flex;
  justify-content: space-between;
  align-items: center;

  gap: 12px;

  opacity: 0;
  pointer-events: none;
}

.button_payment {
  align-self: stretch;
  padding: 10px 12px;

  border-radius: var(--border-radius);
  border: 1px solid var(--color-dark-300);
  background-color: var(--color-dark-500);

  transition: .3s ease;
}

.button_payment:hover {
  border-color: var(--color-dark-100);
}

.open {
  opacity: 1;
  pointer-events: auto;
}