.btn_menu {
  padding: 0;
  font-size: 32px;

  color: var(--color-light-100);
}

.menu {
  position: absolute;
  top: 43px;
  right: 15px;

  padding: 12px 24px;
  border-radius: var(--border-radius);
  border: 1px solid var(--color-dark-100);

  background: var(--color-dark-500);
}

.mobileNav {
  gap: 24px;
}

/*.btn_menu .active {*/
/*  color: var(--color-primary-500);*/
/*}*/


@media (min-width: 769px) {
  .btn_menu,
  .menu {
    display: none;
  }
}