.container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(234px, 234px));
  justify-content: space-between;
  gap: 12px;
  row-gap: 12px;
}

.post {
  width: 234px;
  height: 228px;

  position: relative;
}


@media (max-width: 768px) {
  .container {
    grid-template-columns: repeat(auto-fill, minmax(108px, 1fr));
  }

  .post {
    width: 108px;
    height: 108px;
  }
}