.container {
  display: flex;
  gap: 24px;
}

.main {
  padding: 36px 0 30px 0;
  flex-grow: 1;

  height: calc(100vh - 63px);

  overflow-y: auto;
}

.main::-webkit-scrollbar {
  width: 0;
}


@media (max-width: 768px) {
  .container {
    display: block;
  }
}